.header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #64ffda;
}
.header__home > a,
.header__user > a,
.header__work > a,
.header__contact > a {
  text-decoration: none;
}

/* 
.header__user {
  position: fixed;
  top: 0px;
  right: 260px;
}
.header__work {
  position: fixed;
  top: 0px;
  right: 140px;
}
.header__contact {
  position: fixed;
  top: 0px;
  right: 20px;
} */
