.headerOption {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 10px 0px;
  cursor: pointer;
  width: 100px;
  margin-right: 10px;
}
.headerOption > h3 {
  padding-left: 5px;
  font-size: 15px;
  display: none;
}
.headerOption:hover {
  background-color: #64ffb9;
  border-radius: 25px;
  padding: 0;
  margin-top: 5px;

  color: black;
}
.headerOption:hover > h3 {
  display: block;
  padding: 5px 0px;
}
